body {
    padding-top: 3.5rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


.width-article {
    width: 50%;
}

.ingredient {
    font-style: italic;
}

img{
    margin-bottom: 0.5rem;
}